<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quickcash">

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickCash">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <!-- Login Activity as Launcher -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Search Activity -->
        <activity
            android:name=".ui.activities.SearchActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash" />

        <!-- Map Activity -->
        <activity
            android:name=".ui.activities.MapActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash" />

        <!-- Registration Activity -->
        <activity
            android:name=".ui.activities.RegistrationActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash" />

        <!-- Role Selection Activity -->
        <activity
            android:name=".ui.activities.RoleActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash" />

        <!-- Profile Activity -->
        <activity
            android:name=".ui.models.Profile"
            android:exported="true"
            android:theme="@style/Theme.QuickCash" />

    </application>

</manifest>