<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickCash"
        tools:targetApi="31">

        <!-- Registration Activity -->
        <activity
            android:name=".ui.activities.RegistrationActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Preferred Employers Activity -->
        <activity
            android:name=".ui.activities.PreferredEmployersActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity android:name=".ui.activities.MainActivity"></activity>

        <!-- Profile Activity -->
        <activity
            android:name=".ui.activities.Profile"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
            </activity>

        <!-- JobSearch by Parameter Activity -->
        <activity
            android:name=".ui.activities.JobSearchParameterActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
        </activity>

        <!-- Login Activity as Launch Activity -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Employee Homepage Activity -->
        <activity android:name=".ui.activities.EmployeeHomepageActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
        </activity>

        <!-- Employer Homepage Activity -->
        <activity android:name=".ui.activities.EmployerHomepageActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
        </activity>

        <!-- Job Submission Activity -->
        <activity android:name=".utils.JobSubmission"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
        </activity>

        <!-- Preferred Jobs Activity-->
        <activity android:name=".ui.activities.PreferredJobsActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
        </activity>
    </application>

</manifest>