<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickCash"
        tools:targetApi="31">

        <!-- Launcher Activity -->
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registration Activity -->
        <activity
            android:name=".ui.activities.RegistrationActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
        </activity>

        <!-- Role Selection Activity -->
        <activity
            android:name=".ui.activities.RoleActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
        </activity>

        <!-- Search Results Activity -->
        <activity
            android:name=".ui.activities.SearchResultsActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
        </activity>

        <!-- Map Activity -->
        <activity
            android:name=".ui.activities.MapActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
        </activity>

        <!-- Splash Activity (if applicable) -->
        <!-- <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickCash">
        </activity> -->

        <!-- Remove incorrect activity declaration for Profile model -->
        <!-- If there is a ProfileActivity, include it here -->
    </application>

</manifest>
